.header__content {
  display: flex;
  flex-direction: column;
}

.header__logo {
  margin: 0;
  width: 173px;
  height: 33px;
}

.header__border-bottom {
  content: url(../images/Line.svg);
  margin-top: 41px;
  width: 880px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 7px;
  }

  .header__line {
    width: 100%;
    margin-top: 32px;
  }
}
