.page {
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 45px 20px 60px;
  font-family: "Inter", Arial, sans-serif;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 920px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .page {
    padding: 28px 20px 36px;
  }
}
