.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image:hover {
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.card__like-button {
  cursor: pointer;
  background: transparent url(../images/heart-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  flex-shrink: 0;
  padding: 0;
}

.card__like-button_active {
  background-image: url(../images/heart-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  transition: 0.6s ease-in-out;
}

.card__delete-button {
  background: transparent url(../images/trash-icon.svg) center no-repeat;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 16px;
  border: none;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.6s ease-in-out;
}
