@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/footer.css");

@media screen and (max-width: 760px) {
  .profile__info {
    padding-left: 10px;
  }

  .profile__title {
    font-size: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__description {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 282px;
  }

  .profile__add-button {
    width: 16%;
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding: 28px 20px 36px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 7px;
  }

  .header__line {
    width: 100%;
    margin-top: 32px;
  }

  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 282px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 0 32px;
  }

  .profile__title {
    text-align: center;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    padding-left: 27px;
  }

  .profile__description {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    max-width: 282px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    margin: 0;
    max-width: 282px;
    width: 100%;
    border-radius: 2px;
  }

  .cards {
    padding-top: 36px;
  }

  .footer {
    font-size: 14px;
  }

  .footer__copyright {
    padding-top: 47px;
  }
}
